<div class="home">
  <h1>Hey!</h1>
  <h4>This is the server for the Opera House Client built by Elli, Brendan and Jeremy</h4>
  <h3>Nothing to see here :)</h3>
  <p>
    Visit this link to see the actual website:
    <a href="https://github.com/BrendanShields/operahouse_client">Client Side</a>
  </p>
</div>
