/* ------- Default --------- */
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
/* ------------- Customized ------------- */
    background: #333;
    height: 100%;
    overflow: hidden;
    text-align: center;
    color: gray;
    margin: 5px auto;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
html, body, div, a, i, button, select, option, optgroup, hr, br {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.home {
  width: 960px;
  margin: 0 auto;
}

a {
  color: lightblue;
  font-weight: bold;
  text-decoration: none;
}

.cat-list {
  margin: 10px;
  text-align: left;
  font-size: 20px;
}

.events {
  margin: 10px;
  text-align: left;
  font-size: 20px;
}
/* -------------- App Title (Opera House) ------------- */
.title {
  font: 200 0.8em/1.5 "Neuton";
  background: #090d00;
  color: rgba(255, 255, 255, 0.65);
  text-align: center;
  margin: 0;
}

.opera {
	text-transform: uppercase;
	letter-spacing: .5em;
	display: inline-block;
	border: 20px double rgba(255,255,255,.25);
	border-width: 4px 0;
	padding: 1em 0em;
	position: absolute;
	top: 5%;
	left: 50%;
	width: 40em;
	margin: 22px 0 0 -20em;

  span {
  	font: 500 2em/0.5 "Oswald", sans-serif;
  	letter-spacing: 0;
  	padding: .25em 0.325em;
	  display: block;
	  margin: 0 auto;
  	text-shadow: 0 0 80px rgba(230, 230, 230, 0.63);

/* Clip Background Image */

	  background: url(https://i.imgur.com/K0uZWDo.jpg) repeat-y;
	  -webkit-background-clip: text;
	  background-clip: text;

/* Animate Background Image */

	  -webkit-text-fill-color: transparent;
	  -webkit-animation: aitf 80s linear infinite;

/* Activate hardware acceleration for smoother animations */

	  -webkit-transform: translate3d(0,0,0);
	  -webkit-backface-visibility: hidden;

  }
}

/* Animate Background Image */

@-webkit-keyframes aitf {
	0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
}


/* --------------footer--------------- */
.footer {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  justify-content: top;
  padding-top: 0px;
  margin-top: 0px;
  /* line-height: 10px; */
  background: rgb(24, 24, 24);
  text-align: center;
  width: 100%;
}

.footer ul {
  list-style: none;
}

.footer ul li {
  width: 30px;
  height: 30px;
  // padding-top: -5px;
  margin: -30px 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid rgb(221, 216, 226);
  display: inline-block;
  transition: all 0.5s ease;
}

.footer ul li .fa {
  color: #D8E2DC;
  margin-top: 6px;
  transition: all 0.5s ease;
}

/*facebook*/
.footer ul li:hover.facebook {
  border: 2px solid #3b5998;
  box-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

.footer ul li:hover .fa-facebook {
  color: #3b5998;
  text-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

/*twitter*/
.footer ul li:hover.twitter {
  border: 2px solid #3b5998;
  box-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

.footer ul li:hover .fa-twitter {
  color: #3b5998;
  text-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

/* instagram */
.footer ul li:hover.instagram {
  border: 2px solid #3b5998;
  box-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

.footer ul li:hover .fa-instagram {
  color: #3b5998;
  text-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

/* google */
.footer ul li:hover.google {
  border: 2px solid #3b5998;
  box-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

.footer ul li:hover .fa-google {
  color: #3b5998;
  text-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

/* media queries */

@media screen and (max-width: 640px){
  .footer {
      width: 350px;
  }
  .footer ul li{
      margin-top: 10px;
  }
  .footer ul li.google{
      margin-left: 60px;
  }
}

@media screen and (max-width: 340px){
  .footer {
      width: 150px;
  }
  .footer ul li{
      margin:15px;
  }
  .footer ul li.google{
      margin-left: 15px;
  }
}










































/* youtube link */
.youtube{
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 160px;
  text-align: center;
  padding: 15px 10px;
  background: #bb0000;
  border-radius: 5px;
}

.youtube a{
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  letter-spacing: 1px;
}
